.btn {
	font-size: inherit;
	background: none;
	border: none;
	outline: none;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px 20px;
	cursor: pointer;

}	

.btn--primary {
	color: white;
	background-color: hsl(200,100%, 50%);
}

.btn--primary:hover {
	color: white;
	background-color: hsl(90, 70%, 58%);
}

.btn--danger {
	color: white;
	background-color:hsl(0, 98%, 66%);
}

.btn--danger:hover {
	color: white;
	background-color: hsl(0, 98%, 35%);
}