.app-header {
	display: flex;
	justify-content: center;
	align-items: stretch;
	column-gap: 2px;
	height: 4.5vw;
	min-height: 2.5rem;
	max-height: 3rem;
	background: #FD5353;
	color: white;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 1px;

}
a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
a:visited {
}

a.fr-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 8px;	
	font-size: max(.6rem,calc(0.6rem + 1vw));
	font-weight: 500;
	color: white;
	border: solid 2px white;
	text-align: center;
}

.btn--header {
}

.btn--header__recipe-add {
	display: flex;
	justify-content: center;
	align-items: center;
	
	min-width: 70px;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: clamp(.75rem, calc(4.5vw - 1rem), 1.25rem);
}

a.header__login-logout-icon  {
	
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
}
.btn--header.header__login-logout-icon {
	color: white;
	margin-left: clamp(5px,(5px+1vw),10px);
	max-height: 100%;
	font-size: clamp(1.75rem, calc(4.5vw - 11px), 2.25rem);
}

a.login-logout {
	text-decoration: none;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
}


@media only screen and (min-width: 900px) {
	.app-header {
		z-index: 1;
	}
}
