.recipe {
	border-bottom: 1px solid black;


}

.recipe:last-child {
	border-bottom: none;
	padding-bottom: 5px;
}
.recipe__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0px;

}

.recipe__title {
	margin: 0;
	font-size: 1rem;
	font-weight: 700;
}

.recipe__row {
	margin: 5px;

}

.recipe__label {
	margin-right: 5px;

}
.recipe__value {
	font-weight: 300;

}
.recipe__value--indented {
	margin-top: 10px;
	margin-left: 20px;
}

.recipe__instructions {
	white-space: pre-wrap;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #ffffff;
	color: #444444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
background-color: #ccc;
color: #000000
}

/* Style the collapsible content. Note: hidden by default */
.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: #f1f1f1;
max-height: 0px;
}

.content.active{
	padding: 0 18px;
	display: block;
	overflow: hidden;
	background-color: #f1f1f1;
	animation-name: content-unfold;
	animation-duration: 1s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
	}

	@keyframes content-unfold {
		0% {
			
			max-height: 0px;

		}
		100% {
			
			max-height:15000px;
		}
	}