.recipe-search-bar-container {
	vertical-align: center;
	padding: 5px;
	padding-left: 5pxpx;
	padding-right: 5px;
	border-radius: 5px;
	width: 50vw;

}

.recipe-search-bar__input:hover {
	border-bottom: 3px hsl(200,100%, 50%) inset;
}

.recipe-search-bar__input:focus {
	border:3px solid hsl(126,66%, 50%);
}

.recipe-search-bar__input {
	width: 100%;
	height: 100%;
	border: none;
	border-bottom: 	1px solid black;
	font-size: max(12px,2vw);	
	font-weight: 600;
	border-radius: 5px;
}

.recipe-search-bar__input:hover {
	background-color: hsl(126,5%, 99%);
}
