.recipe-edit {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	max-height: 100%;
	overflow-y: auto;
	padding: 10px;
	padding-bottom: 50px;
	background-color: white;
	font-size: 16px;
	z-index: 2;
}
.recipe-edit__container {
	
	padding-top: 10px;
	padding-bottom: 10px;
	position: sticky;
	background-color: white;
	
}
.recipe-edit__header-buttons-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: max-content; /*iOS devices require the row height to be specified.*/ 
	margin-bottom: 5px;
	
}
.recipe-edit__remove-button-container {
	/* text-align: start; */
}
.recipe-edit__remove-button {
	color: black;
	/* background-color: hsl(0,100%,50%); */
	border-radius: 25px;
	padding: 5px;
	outline: none;
	font-size: 1.25rem;


}

.recipe-edit__remove-button:hover {
background-color: rgb(184, 183, 183);
color: black;
}

.recipe-edit__remove-button:active{
	animation:  hoverShine 200ms linear 0s 2 alternate;
	}
/* Declare shine on hover animation */
@keyframes hoverShine {
	0%{
		background-image: linear-gradient(135deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	}
	50%{
		background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%);
	}
	100%{
		background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4) 100%);
	}
}

.recipe-edit__post-recipe-to-database-button-container {
	text-align: right;
}
.recipe-edit__details-grid {
	display: grid;
	grid-template-columns: auto ;
	grid-row-gap: 5px;
	column-gap: 40px;

}

.recipe-edit__label {
	font-weight: bold;
}

.recipe-edit__input {
	border: 1px solid black;
	border-radius: 5px;
	font-size: inherit;
	padding: 5px 10px;
	outline: none;
	width: 100%;
}

textarea.recipe-edit__input {
	resize: none;
	height: 100px;
}

.recipe-edit__ingredient-grid {
	display: grid;
	grid-template-columns: repeat(3, auto);
	gap: 10px;
	margin-top: 10px;
	margin-left: 0px;
}

.recipe-edit__add-ingredient-button-container {
	margin: 20px;
	text-align: center;
	min-height: 100%;

}
@media only screen and (min-width: 900px) {
	.recipe-edit {
		position: fixed;
		right: 0;
		top: 6.5vh;
		width: 50%;
		max-height: 100%;
		overflow-y: auto;
		padding: 0px 30px 50px 30px;
		font-size: 1rem;
		z-index: 0;
	}
	.recipe-edit__container {
		top: 0;
		padding-top: 10px;
		padding-bottom: 5px;
		position: sticky;
		background-color: white;
	}
	.recipe-edit__header-buttons-container {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: max-content; /*iOS devices require the row height to be specified.*/ 
		margin-bottom: 5px;
		
	}
	.recipe-edit__remove-button-container {
		/* text-align: start; */
	}
	.recipe-edit__remove-button {
		color: black;
		/* background-color: hsl(0,100%,50%); */
		border-radius: 25px;
		padding: 5px;
		outline: none;
		font-size: 1.75rem;


	}

	.recipe-edit__remove-button:hover {
	background-color: rgb(184, 183, 183);
	color: black;
	}

	.recipe-edit__remove-button:active{
		animation:  hoverShine 200ms linear 0s 2 alternate;
		}
	/* Declare shine on hover animation */
	@keyframes hoverShine {
		0%{
			background-image: linear-gradient(135deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		}
		50%{
			background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%);
		}
		100%{
			background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4) 100%);
		}
	}

	.recipe-edit__post-recipe-to-database-button-container {
		text-align: right;
	}
	.recipe-edit__details-grid {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-row-gap: 10px;
		column-gap: 40px;

	}

	.recipe-edit__label {
		font-weight: bold;
	}

	.recipe-edit__input {
		border: 1px solid black;
		border-radius: 5px;
		font-size: inherit;
		padding: 5px 10px;
		outline: none;
		width: 100%;
	}

	textarea.recipe-edit__input {
		resize: none;
		height: 200px;
	}

	.recipe-edit__ingredient-grid {
		display: grid;
		grid-template-columns: repeat(3, auto);
		gap: 10px;
		margin-top: 20px;
		margin-left: 40px;
	}

	.recipe-edit__add-ingredient-button-container {
		margin: 20px;
		text-align: center;
		min-height: 100%;

	}

}